.content {
    width: 55%;
    margin-right: 5%;
}

.page-top .nav a.current {
    padding-bottom: 16px;
    border-bottom: 2px solid var(--nav-text-color);
}

.sidebar .logo-title {
    padding-top: 90px;
}

.sidebar .logo-title .title img {
    width: 200px;
    border-radius: 20%;
}

/* .footer a { */
    /* color: #2660AB; */
    /* color: #237E47; */
    /* color: #3a8776; */
/* } */
