@font-face {
    font-family: "PT Sans";
    src: url("fonts/PTSans-Regular.woff") format("woff");
}

@font-face {
    font-family: "PT Sans";
    src: url("fonts/PTSans-Bold.woff") format("woff");
    font-weight: bold;
}

@font-face {
    font-family: "PT Sans";
    src: url("fonts/PTSans-Italic.woff") format("woff");
    font-style: italic;
}

@font-face {
    font-family: "PT Sans";
    src: url("fonts/PTSans-BoldItalic.woff") format("woff");
    font-weight: bold;
    font-style: italic;
}

body {
    font-family: "PT Sans", sans-serif;
    font-size: 19px;
}

p {
    line-height: 1.5em;
    font-size: 19px;
}

footer {
    font-size: 13px;
}
