<div class="project-entry">

    <div class="project-title">
        {{ .Get "title" }}
    </div>

    <div class="project-author">
        {{ .Get "author" }}
    </div>

    <div class="project-booktitle">
        {{ .Get "booktitle" }}
        {{ with .Get "date" }}
        &bull; {{ . }}
        {{ end }}
    </div>

    <div class="buttons">

        {{ with .Get "doi" }}
        <a class="btn" href="{{ . }}" rel="external">
            <span class="fas fa-link"></span>&nbsp;&nbsp;DOI
        </a>
        {{ end }}

        {{ with .Get "pdf" }}
        <a class="btn" href="{{ . }}">
            <span class="fas fa-file-pdf"></span>&nbsp;&nbsp;PDF
        </a>
        {{ end }}

        {{ with .Get "code" }}
        <a class="btn" href="{{ . }}" rel="external">
            <span class="fas fa-laptop-code"></span>&nbsp;&nbsp;Code
        </a>
        {{ end }}

        {{ with .Get "video" }}
        <a class="btn" href="{{ . }}" rel="external">
            <span class="fas fa-video"></span>&nbsp;&nbsp;Video
        </a>
        {{ end }}

    </div>

</div>
